// resource.rc
#include <windows.h>

//IDD_DIALOG1 DIALOGEX 0, 0, 200, 100
100 DIALOGEX 0, 0, 200, 100
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Sample Dialog"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 70, 70, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 120, 70, 50, 14
END

